<div class="container" style="text-align: center;">
  <br>
  <h1><a href="#">상세조회</a></h1>
  <br>
  <br>
  <style>
      table {
          width: 100%;
          border: 2px solid;
      }
      th, td {
          width: 25%;
          text-align: center;
          border: 1px solid;
      }
  </style>
  <table class="table table-hover table-striped" style="max-width: 1500; margin: 5 auto;">
      <thead>
          <tr>
              <th>제목</th>
              <th>내용</th>
              <th>날짜</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>{{ post[0][0] }}</td>
              <td>{{ post[0][1] }}</td>
              <td>{{ post[0][2] }}</td>
          </tr>
      </tbody>
  </table>

  <h2>연관된 게시물</h2>
  {% if related_post %}
    <ul>
      {% for post in related_post %}
        <li><a href="/post/{{ post[0] }}">{{ post[1] }}</a> ({{ post[2] }})</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>연관된 게시물이 없습니다.</p>
  {% endif %}
</div>
